<form 
  name="registerForm" 
  class="form-signin" 
  role="form" 
  ng-submit="registerForm.$valid && auth.register()"
  form-autofill-fix
  novalidate>
  <h2 class="form-login-heading">Registrera konto</h2>
  <input type="email" name="email" ng-model="auth.credentials.email" class="form-control" placeholder="Email address" required autofocus>
  <input type="password" name="password" ng-model="auth.credentials.password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registrera</button>
</form>
